<nav class="navigation">
    <div class="wrapper center-block clearfix">
        <div class="menu-icon">
            <div class="icon-menu"></div>
        </div>
        <div class="left">
            <img src="/img/logo.png" alt="logo" class="logo">
        </div>
        <ul class="menu-list">
            <li class="menu businesses">
                <a class="menu-text">
                    <span>BUSINESSES</span>
                    <span class="icon-arrow-down"></span>
                </a>
            </li>
            <li class="menu reviews">
                <a class="menu-text">
                    <span>REVIEWS</span>
                    <span class="icon-arrow-down"></span>
                </a>
            </li>
            <li class='menu blogs'>
                <a class="menu-text">
                    <span>BLOGS</span>
                    <span class="icon-arrow-down"></span>
                </a>
            </li>
        </ul>
        <div class="nav-right">
            <div class="search">
                <div class="icon-search"></div>
            </div>
            <div class="signin">SIGN IN</div>
            <div class="sign-icon">
                <div class="icon-sign"></div>
            </div>
        </div>
    </div>
</nav>
<div class="search--dropdown">
    <div class="search--input">
        <input type="text" class="search-input" value="" title="Search">
        <a class="search-button">Search</a>
    </div>
</div>

<div id="reviews" class="dropdown-menu">
    <div class="category-container">
        <a class="category reviews active" data-cat="best">Most Useful Reviews</a>
        <a class="category reviews" data-cat="worst">The Worst Reviews</a>
        <a class="category reviews" data-cat="Clothing">Clothing Reviews</a>
        <a class="category reviews" data-cat="Home and Garden">Home and garden Reviews</a>
        <a class="category reviews" data-cat="Consumer Electronics">Consumer Electronics Reviews</a>
        <a class="category reviews" data-cat="Jewelry">Jewlery Reviews</a>
        <div class="close-icon">
            <div class="icon-close"></div>
            <span>close</span>
        </div>
    </div>
    <div class="reviews-container">
    </div>
</div>
<div id="businesses" class="dropdown-menu">
    <div class="clearfix">
        <div class="businesses-container">
        </div>
        <div class="category-container">
            <a class="category businesses active">Computer</a>
            <a class="category businesses">Home and Garden</a>
            <a class="category businesses">Sports</a>
            <a class="category businesses">Shoes</a>
            <a class="category businesses">Clothing</a>
            <a class="category businesses">Entertainment</a>
        </div>
    </div>
    <div class="btn-container clearfix">
        <div class="close-icon">
            <div class="icon-close"></div>
            <span>close</span>
        </div>
        <div class="businessBtn">Add a Business</div>
        <div class="businessBtn">Review a Business</div>
        <div class="businessBtn">Advertise a Business</div>
    </div>
</div>
<div id="blogs" class="dropdown-menu">
    <div class="container">
        <div class='row no-gutter'></div>
    </div>
    <div class="close-icon">
        <div class="icon-close"></div>
        <span>close</span>
    </div>
</div>
<div class="navigation-overlay hidden"></div>
<nav class="navigation-mobile left hide">
    <div class="close-icon">
        <div class="icon-close"></div>
    </div>
    <div class="menu-list">
        <div class="top-level">REVIEWS</div>
        <div class="sub-level">
            <a class="category reviews" data-cat="best">Most Useful Reviews</a>
            <a class="category reviews" data-cat="worst">The Worst Reviews</a>
            <a class="category reviews" data-cat="Clothing">Clothing Reviews</a>
            <a class="category reviews" data-cat="Home and Garden">Home and garden Reviews</a>
            <a class="category reviews" data-cat="Consumer Electronics">Consumer Electronics Reviews</a>
            <a class="category reviews" data-cat="Jewelry">Jewlery Reviews</a>
        </div>
        <div class="top-level">BUSINESSES</div>
        <div class="sub-level">
            <a class="category businesses">Computer</a>
            <a class="category businesses">Home and Garden</a>
            <a class="category businesses">Sports</a>
            <a class="category businesses">Shoes</a>
            <a class="category businesses">Clothing</a>
            <a class="category businesses">Entertainment</a>
        </div>
        <div class="top-level">BLOGS</div>
    </div>
</nav>
<nav class="subnav-mobile left hide">
    <div class="close-icon">
        <div class="icon-close"></div>
    </div>
    <div class="backBtn">Back to Top Menus</div>
    <div class="category-text"></div>
</nav>
